In [12]:
import pandas as pd
import numpy as np
import os

# data = pd.read_csv (r'working-days.csv') 
# df = pd.DataFrame(data)

data = pd.read_excel(r'C:\Users\Qing Ye\Desktop\New Microsoft Excel Worksheet.xlsx', sheet_name='Sheet4')
df = pd.DataFrame(data)

print(df)

       id  site_id
0    1046      3.0
1    1047      3.0
2    1049      3.0
3    1050      3.0
4    1051      3.0
..    ...      ...
599  1738      2.0
600  1739      2.0
601  1740      2.0
602  1741      2.0
603  1742      4.0

[604 rows x 2 columns]

In [13]:
import urllib
from sqlalchemy import create_engine, inspect

DATABASES = {
  'default': {
     'ENGINE': 'mssql',
     'NAME': "miebachcapacitytooldb",
     'USER': 'miebachindianapolis',
     "PASSWORD": 'Miebach1',
     "HOST": 'miebachinternalprojectdbs.database.windows.net',
     "PORT": "1433",
     "OPTIONS": {"driver": "ODBC Driver 17 for SQL Server",
             },
     }
}

def connect_database():

    driver = DATABASES['default']['OPTIONS']['driver']
    server = DATABASES['default']['HOST']
    database = DATABASES['default']['NAME']
    username = DATABASES['default']['USER']
    password = DATABASES['default']['PASSWORD']

    # connection parameters
    params = 'DRIVER=' + driver + ';' \
        'SERVER=' + server + ';' \
        'DATABASE=' + database + ';' \
        'UID=' + username + ';' \
        'PWD=' + password + ';'

    conn_params = urllib.parse.quote_plus(params)
    dbconn = create_engine('mssql+pyodbc:///?odbc_connect=%s' %
                           conn_params, fast_executemany=False)

    autocommit_engine = dbconn.execution_options(isolation_level="AUTOCOMMIT")
    return dbconn
engine = connect_database()

datatable = 'baseline_capacityarea'

# Iterate through the DataFrame
for index, row in df.iterrows():
    site_id = row['site_id']
    id = row['id']
    
    
    if not np.isnan(site_id):
        update_query = f"""
        UPDATE baseline_capacityarea
        SET site_id = {site_id}
        WHERE id = {id}
        """
        with engine.begin() as connection:
            connection.execute(update_query)
        print("update_query:", update_query)
    else:
        delete_query = f"""
        DELETE FROM baseline_capacityarea
        WHERE id = {id}
        """
        with engine.begin() as connection:
            connection.execute(delete_query)
        print("delete_query:", delete_query)

print('Done')

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1046.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1047.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1049.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1050.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1051.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1052.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1053.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1054.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1056.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1057.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1058.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1061.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1062.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1064.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1065.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1067.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1068.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1069.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1071.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1072.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1073.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1074.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1075.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1076.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1077.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1078.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1079.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1080.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1081.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1082.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1083.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1084.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1085.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1086.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1087.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1088.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1089.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1090.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1091.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1092.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1093.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1094.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1095.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1096.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1097.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1098.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1099.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1100.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1101.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1102.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1103.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1104.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1105.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1106.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1107.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1108.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1109.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1110.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1111.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1112.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1113.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1114.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1115.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1116.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1117.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1118.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1119.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1120.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1121.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1122.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1123.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1124.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1125.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1126.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1127.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1128.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1129.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1130.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1131.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1132.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1133.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1134.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1135.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1136.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1137.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1138.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1139.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1140.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1141.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1142.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1143.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1144.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1145.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1146.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1147.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1148.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1149.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1150.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1151.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1152.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1153.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1154.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1155.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1156.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1157.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1158.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1159.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1160.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1161.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1162.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1163.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1164.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1165.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1166.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1167.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1168.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1169.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1170.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1171.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1172.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1173.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1174.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1175.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1176.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1177.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1178.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1179.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1180.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1181.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1182.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1183.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1184.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1185.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1186.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1187.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1188.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1189.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1190.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1191.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1192.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1193.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1194.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1195.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1196.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1197.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1198.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1199.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1200.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1201.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1202.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1203.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1204.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1205.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1206.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1207.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1208.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1209.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1210.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1211.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1212.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1213.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1214.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1215.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1216.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1217.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1218.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1219.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1220.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1221.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1222.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1223.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1224.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1225.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1226.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1227.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1228.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1229.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1230.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1231.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1232.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1233.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1234.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1235.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1236.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1237.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1238.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1239.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1240.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1241.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1242.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1243.0

update_query:
        UPDATE baseline_capacityarea
        SET site_id = 3.0
        WHERE id = 1244.0

update_query: